/* Webfont: Blisstwin-Regular */@font-face {
    font-family: 'Blisstwin';
    src: url('Blisstwin.woff2') format('woff2'), /* Modern Browsers */
         url('Blisstwin.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

