<header>
  <div class="top-bar">
    <div class="social-icons">
      <a href="mailto:candc@sixteenth.com">
        <img src="images/icons/envelope.png" alt="email" />
      </a>
      <a href="mailto:candc@sixteenth.com">candc@sixteenth.com</a>
    </div>

    <div class="social-icons">
      <a href="https://www.instagram.com/roll.with.cole" target="_blank">
        <img src="images/icons/instagram.png" alt="Instagram" />
      </a>
      <a href="https://www.tiktok.com/@coleandcharisma" target="_blank">
        <img src="images/icons/tik-tok.png" alt="TikTok" />
      </a>
      <a href="https://www.facebook.com/RollwithColeCharisma" target="_blank">
        <img src="images/icons/facebook.png" alt="Facebook" />
      </a>
      <a href="https://youtube.com/@coleandcharisma?si=AIY8bwZUF0TKtipP" target="_blank" rel="noopener noreferrer">
        <img src="images/icons/youtube.png" alt="YouTube" />
      </a>
    </div>
  </div>

  <nav class="nav-container">
    <div class="hamburger-menu">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class="mobile-menu">
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="about">ABOUT US</a></li>
        <li><a href="press">PRESS</a></li>
        <li><a href="contact">CONTACT US</a></li>
      </ul>
    </div>
    <ul class="nav-left">
      <li><a href="/" class="nav-link active">HOME</a></li>
      <li><a href="about" class="nav-link">ABOUT US</a></li>
    </ul>

    <a href="/" class="logo">
      <img src="images/logos/COLEANDCHARISMALOGO.png" alt="Cole & Charisma Logo" />
    </a>

    <ul class="nav-right">
      <li><a href="press" class="nav-link">PRESS</a></li>
      <li><a href="contact" class="nav-link">CONTACT US</a></li>
    </ul>
  </nav>
</header>
